/* :root {
    --accent: #2196F3;
    --footer-color: #2F303A;
    --background-white: #ffffff;
    --background-gray: #F5F4FA;
    --title: #212121;
    --main-text: #757575;
    --transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

body {
    background-color: var(--background-white);
    font-family: Roboto, sans-serif;
    color: var(--title);
} */

/* reset start */

/* .list {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} */

/* reset end */

/* .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
} */

/* .section-portfolio,
.team,
.feature,
.clients {
    padding-top: 94px;
    padding-bottom: 94px;
} */


/* LOGO HEADER/FOOTER */

/* .logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    margin-right: 93px;
}

.logo-accent {
    color: var(--accent);
} */


/* NAVIGATION */

/* .header {
    border-bottom: 1px solid #F5F5F5;
}

.header-nav--centering {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav,
.header-nav__list {
    display: flex;
    align-items: center;
}


.header-nav__item:not(:last-child) {
    margin-right: 50px;
}

.header-nav__link {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title);
    transition: var(--transition);
}
.header-nav__link--current::after {
    display:inline-block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    content: "";
    background-color: var(--accent);
    border-radius: 2px;
}

.header-nav__link:hover,
.header-nav__link:focus {
    color: var(--accent);
}

.header-nav__link--current {
    color: var(--accent);
} */


/* CONTACT HEADER */

/* .header-contact__link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;

    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text);
    fill: var(--main-text);
    text-align: center;
    gap: 10px;
    transition: var(--transition);
    align-items: center;
}

.header-contact__item:not(:last-child) {
    margin-right: 30px;
}

.header-contact {
    display: flex;   
}

.header-contact__link:hover,
.header-contact__link:focus {
    color: var(--accent);
    fill: var(--accent);
} */

/* MAIN COMPANY */


/* .hero {
    background-color: var(--footer-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    max-height: 600px;
    background-image: linear-gradient(to right,
                      rgba(47, 48, 58, 0.4),
                      rgba(47, 48, 58, 0.4)),
    url(../images/background-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
} */

/* .button {
    display: inline-block;
    font-family: roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--transition);
} */

/* .hero__button {
    padding: 9px 31px;
    min-width: 216px;
    min-height: 50px;
} */

/* .button:hover,
.button:focus {
    background-color: rgba(24, 140, 232, 1);
} */

/* .section-title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
} */


/* BENEFITS */

/* .feature__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.feature__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text);
    width: 270px;
}

.feature-benefits {
    display: flex;
    gap: 30px;
}

.feature-benefits__item {
    display: flex;
    background-color: var(--background-gray);
    border-radius: 4px;
    height: 120px;
    width: 270px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
} */


/* ACTIVITY */

/* .activity__list {
    display: flex;
    gap: 30px;
}

.activity {
    padding-bottom: 94px;
}

.thumb {
    position: relative;
    background-color: #fff;
}

.activity__lable {
    display: block;
    position: absolute;
    padding-top: 26px;
    width: 370px;
    height: 70px;
    top:224px;

    line-height: 16px;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
} */


/* TEAM */
/* 
.team--background {
    background-color: var(--background-gray);
}

.team-list{
    display: flex;
    gap: 30px;
}

.team-list__items {
    text-align: center;
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 1px 1px rgba(0, 0, 0, 0.14),
     0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list__name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.team-list__title {
    font-size: 16px;
    line-height: 1.18;        
    letter-spacing: 0.03em;
    color: var(--main-text);
    margin-bottom: 16px;
}

.team-list__card {
    margin-top: 30px;
    margin-bottom: 30px;
}

.team-list__socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffffff;
    fill: #AFB1B8;
    transition: var(--transition);
}

.social-link:hover,
.social-link:focus {
    fill: #ffffff;
    background-color: var(--accent);
} */


/* CLIENTS */

/* .clients-list {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.clients__link {
    display: flex;
    border: 1px solid #AFB1B8;
    fill: #AFB1B8;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    transition: var(--transition);
}

.clients__link:hover,
.clients__link:focus {
    fill: var(--accent);
    border: 1px solid var(--accent);
} */


/* PORTFOLIO BTN */

/* .portfolio__button {
    padding: 5px 21px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--background-gray);
    color: #000000;
    transition: var(--transition);
}

.portfolio__button:hover,
.portfolio__button:focus {
    background-color: var(--accent);
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
     0px 1px 2px rgba(0, 0, 0, 0.08),
     0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-button__list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.portfolio-button__item:not( :last-child) {
    margin-right: 8px;
} */


/* PORTFOLIO GALERY */

/* .galery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
} */

/* 
.galery-item {
    border-bottom: 1px solid #EEEEEE;
    transition: var(--transition);
}

.galery-item:nth-child(n+7) {
    margin-bottom: 0;
}

.galery-item:hover,
.galery-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);

}


.galery-item__box {
    position: relative;
    width: 370px;
    height: 294px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.galery-item__card {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 24px;
    padding-bottom: 24px;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

.galery-item__text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--main-text);
}

.galery-item__title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}


.galery-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    transform: translatey(100%);
    transition: transform 250ms ease;
}

.galery-overlay__text {
    line-height: 28px;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0.03em;
    padding: 62px 23px;
}

.galery-item:hover .galery-overlay {
    transform: translateY(0);

} */

/* FOOTER */

/* .footer {
    background-color: var(--footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
} */

/* .footer .logo {
    color: #ffffff;
} */

/* .address {
    font-style: normal;
}

.address-item__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #ffffff;
}

.address-item__link--color {
    color: rgba(255, 255, 255, 0.6);
}

.address-item__link:hover,
.address-item__link:focus {
    color: var(--accent);
    transition: var(--transition);
}

.address-item {
    margin-bottom: 9px;
}

.address-item:last-child {
    margin-bottom: 0;
} */

/* .logo-link {
    text-decoration: none;
} */

/* .logo-link {
    display: block;
    margin-bottom: 20px;
} */

/* .footer__container {
    display: flex;
    gap: 70px;
} */

/* .footer-socials-list {
    display: flex;
    gap:10px;
}

.footer-socials__title {
    margin-top: 12px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}

.footer-socials__link {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 44px;
    width: 44px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: #ffffff;
    transition: var(--transition);
}

.footer-socials__link:hover,
.footer-socials__link:focus {
    background-color: var(--accent);
} */

/* FOOTER FORM */

/* .footer-form-container__title {
    margin-top: 12px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-form__btn {
    display: inline-flex;
    justify-content: center;
    background-color: var(--accent);
    gap: 10px;
    padding: 10px 28px 10px 28px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    align-items: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer-form__icon {
    fill: #FFFFFF;
}

.footer-form__field {
    width: 295px;
    height: 50px;
    outline: 1px solid transparent;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
    padding-right: 16px;
}

.footer-form {
    display: flex;
    gap: 12px;
} */

/* MODAL */

/* .backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.2);
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: relative;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal__button--size {
    height: 18px;
    width: 18px;
}

.modal__button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

.modal__button:hover,
.modal__button:focus {
    transform: scale(1.15);
    transition-duration: 250ms;
    fill: #2196F3;
}

/* MODAL STYLES */

/* .modal__title {
    display: block;
    text-align: center;
    margin-bottom: 12px;
}


.modal-form-group__lable {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
}

.modal-form-group__field {
    position: relative;
    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-right: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 1px solid transparent;
    transition: var(--transition);
}

.modal-form-group__message {
    display: block;
    position: relative;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    padding: 12px;
    resize: none;
    outline: 1px solid transparent;
    transition: var(--transition);
}

.modal-form-group__field:focus,
.modal-form-group__message:focus {
    border: 1px solid var(--accent);
}


.modal-form-group__wraper {
    position: relative;
    margin-bottom: 10px;
}

.modal-form-group__icon {
    position: absolute;
    top:50%;
    left: 12px;;
    width: 18px;
    transform: translateY(-50%);
    transition: fill var(--accent);
}

.modal-form-group__field:focus + .modal-form-group__icon {
    fill: var(--accent);
}

.modal-form-group {
    margin-bottom: 20px;
} */

/* AGREEMENT */

/* .modal-form-agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    gap: 10px;
}

.modal-form-agreement__link {
   color: var(--accent);
}

.modal-form-agreement-desc {
    user-select: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.modal-form-agreement--uncheck {
    opacity: 1;
    transition: var(--transition);
}

.modal-form-agreement--check {
    opacity: 0;
    transition: var(--transition);
}

.modal-form-agreement__checkbox:checked+
.modal-form-agreement__icon .modal-form-agreement--uncheck {
    opacity: 0;
}


.modal-form-agreement__checkbox:checked +
.modal-form-agreement__icon .modal-form-agreement--check {
    opacity: 1;
} */

/* .modal-form__btn {
    display: block;
    margin: auto;
    background-color: var(--accent);
    color: #FFFFFF;
    border: none;
    padding: 10px 52px;
    font-weight: 700;
    line-height: 30px;
    font-size: 16px;
    align-items: center;
    display: flex;
    letter-spacing: 0.06em;
    text-align: center;
    border-radius: 4px;
}

.modal-form__btn:hover,
.modal-form__btn:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */