.activity {
    padding-bottom: 94px;

    @media screen and (max-width:1200px) {
       display: none; 
    }

    &__list {
            display: flex;
            gap: 30px;
        }
    
    &__thumb {
            position: relative;
            background-color: #fff;
        }
    
    &__lable {
            display: block;
            position: absolute;
            padding-top: 26px;
            width: 370px;
            height: 70px;
            top: 224px;
    
            line-height: 16px;
            font-size: 14px;
            letter-spacing: 0.03em;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            background: rgba(47, 48, 58, 0.8);
        }
}

