.clients {
    @extend %section;

    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    &__link {
        display: flex;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        fill: #AFB1B8;
        justify-content: center;
        align-items: center;
        height: 92px;
        width: 210px;
        
        transition: var(--transition);
        
            &:hover,
            &:focus {
                fill: var(--accent);
                border: 1px solid var(--accent);
            }

        @media screen and (min-width:768px) and (max-width:1199px) {
            width: 225px;
        }
        
        @media screen and (min-width:1200px) {
            width: 170px;
        }
    } 
}



