.header-contact {
    display: none;

    @media screen and (min-width:768px) {
    display: flex;
    flex-wrap: wrap; 
    }
    
}

.header-contact__link {
    // display: flex;
    // padding-top: 32px;
    // padding-bottom: 32px;

    @media screen and (min-width:1200px) {
        display: flex;
            padding-top: 32px;
            padding-bottom: 32px;
    }

    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text);
    fill: var(--main-text);
    text-align: center;
    gap: 10px;
    transition: var(--transition);
    align-items: center;

    &:hover,
    &:focus {
        color: var(--accent);
        fill: var(--accent);
    }
}

.header-contact__item:not(:last-child) {
    margin-right: 30px;
}

