.footer-form-container__title {
    margin-top: 12px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-align: center;
    
    @media screen and (min-width:1200px) {
        text-align: left;
    }
}

.footer-form {
    text-align: center;
    
    @media screen and (min-width: 768px) and (max-width:1199px) {
        max-width: 450px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        gap: 12px;
    }

    &__btn {
            display: inline-flex;
            justify-content: center;
            background-color: var(--accent);
            gap: 10px;
            padding: 10px 28px 10px 28px;
            border-radius: 4px;
            border: none;
            font-size: 16px;
            font-weight: 700;
            line-height: 30px;
            text-align: center;
            align-items: center;
            letter-spacing: 0.06em;
            color: #FFFFFF;
        }
    
    &__icon {
            fill: #FFFFFF;
        }
    
    &__field {
            width: 100%;
            height: 50px;
            outline: 1px solid transparent;
            border-radius: 4px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            background-color: transparent;
            font-size: 16px;
            line-height: 20px;
            align-items: center;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
            padding-left: 16px;
            padding-right: 16px;
            margin-bottom: 20px;

            @media screen and (max-width:1199px) {
                width: 450px;
            }

            @media screen and (min-width:1200px) {
                margin-bottom:0;
                width: 358px;
            }
        }
}