.header {
    border-bottom: 1px solid #F5F5F5;
    display: flex;

    @media screen and (max-width:767px) {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
    }
}

.header-nav__list {
    display: none;

    @media screen and (min-width:768px) {
       display: flex;
       align-items: center;
    }
}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: 94px;

   &--centering {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__link {
        display: block;
        position: relative;
        padding-top: 32px;
        padding-bottom: 32px;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--title);
        transition: var(--transition);

        &:hover,
        &:focus {
            color: var(--accent);
        }
    }


   &__link--current {
        color: var(--accent);

        &::after {
            display: inline-block;
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 100%;
            height: 4px;
            content: "";
            background-color: var(--accent);
            border-radius: 2px;
        }
}

.header-nav__item:not(:last-child) {
    margin-right: 50px;
}
}