.menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

@media (max-width: 767px) {
    .menu {
        display: none;
    }
}

.menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
    text-decoration: underline;
}

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    
    // width: 100vw;
    width: 100%;
    height: 100vh;
    padding: 40px;
    background-color: #fff;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: auto;
}

.mobile-close__icon,
.mobile-open__icon {
    fill: #212121;
    transition: var(--transition);
}

.mobile-close__icon:hover,
.mobile-open__icon:hover,
.mobile-close__icon:focus,
.mobile-open__icon:focus {
    fill: var(--accent);
}

.mobile-menu__link {
    display: block;
    padding-bottom: 35px;
    color: #212121;
    text-decoration: none;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 0.02em;
        
        &--current {
            color: var(--accent);
        }
}


.mobile-socials {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    margin-top: 64px;
}

.mobile-socials__link {
    text-decoration: none;
    color: var(--accent);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;        
}

.mobile-socials__link--after::after {
    display: inline-block;
    position: absolute;
    content:"";
    width: 1px;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.2);
    margin-left: 10px;
    margin-right: 10px;
    
}

.mobile-menu__contact-phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2196F3;
}

.link {
    text-decoration: none;
}

.mobile-menu__contact-mail{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
}

.mobile-menu__contacts-item:not(:last-child) {
    margin-bottom: 64px;
}

