.team {
@extend %section;

    &--background {
        background-color: var(--background-gray);
    }

    &-list {
        display: flex;
        gap: 30px;

        &__items {
                text-align: center;
                background-color: #ffffff;
                border-radius: 0px 0px 4px 4px;
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                    0px 1px 1px rgba(0, 0, 0, 0.14),
                    0px 2px 1px rgba(0, 0, 0, 0.2);
            }

        &__name {
                margin-bottom: 10px;
            
                font-weight: 500;
                font-size: 16px;
                line-height: 1.18;
                letter-spacing: 0.03em;
            }
            
        &__title {
                font-size: 16px;
                line-height: 1.18;
                letter-spacing: 0.03em;
                color: var(--main-text);
                margin-bottom: 16px;
            }
            
        &__card {
                margin-top: 30px;
                margin-bottom: 30px;
            }
            
        &__socials {
                display: flex;
                align-items: center;
                gap: 10px;
                justify-content: center;
                padding: 0;
                list-style: none;
            }
    }

    
}


.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffffff;
    fill: #AFB1B8;
    transition: var(--transition);

    &:hover,
    &:focus {
            fill: #ffffff;
            background-color: var(--accent);
        }
}

