:root {
    --accent: #2196F3;
    --footer-color: #2F303A;
    --background-white: #ffffff;
    --background-gray: #F5F4FA;
    --title: #212121;
    --main-text: #757575;
    --transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}


